<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Team Drive - Registration</title>
    <style>
        .customborder {
            border-radius: 2%;
            border: 2px solid black;
            background-color: blanchedalmond;
        } 
    </style>
</head>

<body>
    <div class="container">
        <h3 class="text-center p-3">Employer Signup</h3>
        <div style="margin: 0 auto;" class="col-12 col-md-6 col-lg-5 p-5 customborder">
          <%if(typeof err != 'undefined'){%>
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong><%=err%> </strong>
            </div>
          <%}%>
          <form action="/employer/signup" method="POST">
                <div class="form-group">
                    <label for="phonenumber">Enter Your phonenumber</label>
                    <input type="text" class="form-control" name="phonenumber" id="phonenumber" autocomplete="off"
                        placeholder="phonenumber">
                </div>
                <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <input type="text" class="form-control" name="companyname" id="companyname" autocomplete="off"
                        placeholder="Company Name" required>
                </div>
                <div class="form-group">
                  <label for="uam">Company Uam</label>
                  <input type="text" class="form-control" name="uam" id="uam" autocomplete="off"
                      placeholder="Enter uam number" required>
                </div>
                <div class="form-group">
                    <label for="email">Company Email</label>
                    <input type="text" class="form-control" name="email" id="email" autocomplete="off"
                        placeholder="Enter Email" required>
                  </div>
                <div class="form-group">
                  <label for="about">Tell us something about your company</label>
                  <input type="text" class="form-control" name="about" id="about" autocomplete="off"
                      placeholder="Enter about" required>
                </div>
                <div class="form-group">
                  <label for="location">Location</label>
                  <input type="text" class="form-control" name="location" id="location" autocomplete="off"
                      placeholder="Enter company's address" required>
                </div>
                <div class="form-group">
                  <label for="owner">Owner</label>
                  <input type="text" class="form-control" name="owner" id="owner" autocomplete="off"
                      placeholder="company owner name" required>
                </div>
                <div class="form-group">
                  <label for="website">Company's website</label>
                  <input type="text" class="form-control" name="website" id="website" autocomplete="off"
                      placeholder="Enter company's website link if exist">
                </div>
                <div class="form-group">
                    <label for="password">Choose A Password</label>
                    <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                        placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Your Password</label>
                    <input type="password" class="form-control" name="confirmPassword" id="confirmpassword"
                        autocomplete="off" placeholder="Confirm Password">
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
                </div>
                <p>Already Registered ? <a class="card-link" href="/employer/login">Login</a> </p>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
